tools/fltk-1.3.0/ide/VisualC2010/fltk_debug
tools/fltk-1.3.0/ide/VisualC2010/fltk_release
tools/fltk-1.3.0/ide/VisualC2010/fltkgl_debug
tools/fltk-1.3.0/ide/VisualC2010/fltkgl_release
tools/fltk-1.3.0/ide/VisualC2010/fltkjpeg_debug
tools/fltk-1.3.0/ide/VisualC2010/fltkjpeg_release
tools/fltk-1.3.0/ide/VisualC2010/fltkpng_debug
tools/fltk-1.3.0/ide/VisualC2010/fltkpng_release
tools/fltk-1.3.0/ide/VisualC2010/fltkzlib_debug
tools/fltk-1.3.0/ide/VisualC2010/fltkzlib_release
mixkit/Debug
libgfx/vc6/libgfx/Debug
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.lastbuildstate
*.mainfest
*.opensdf